.contenedorCarrito {
  background: #fdc830;
  background: -webkit-linear-gradient(to top, #fdc830, #f37335);
  background: linear-gradient(to top, #fdc830, #f37335);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 1%;
  display: flex;
}

.boton_cerrar {
  display: flex;
  text-align: end;
  justify-content: flex-end;
  font-size: 40px;
}
.boton_cerrar i {
  transition: all 0.5s;
}

.boton_cerrar .solucion {
  margin: 3% -5%;
  position: absolute;
}

.boton_cerrar i:hover {
  font-size: 45px;
  color: orangered;
}

.precioEstimado {
  width: 30%;
  margin: 2% 0 2% 2%;
}

.cajaEstimada {
    border-radius: 15px;
  background-color: white;
  height: max-content;
  padding: 5%;
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.5);
}

.cajaEstimada h1 {
  text-align: center;
  margin-bottom: 5%;
}

.cajaEstimada .datos,
.cajaEstimada .total {
  display: flex;
  justify-content: space-between;
}

.hr-datos {
  margin: 7% auto;
  border: none;
  border-bottom: 1px solid hsla(200, 10%, 50%, 100);
  width: 100% !important;
}

.botonTotal {
  margin: auto;
  margin-top: 7%;
  background-color: orangered;
  padding: 5%;
  text-align: center;
  border-radius: 10px;
  transition: all 0.5s;
}

.botonTotal a {
  color: white;
}

.botonTotal:hover {
  border: 1px solid orangered;
  background-color: white;
}

.botonTotal:hover a {
  color: orangered;
}

.cajaEstimada .datos .cajas p {
  padding: 7% 0;
}

#hr-carrito {
  width: 90%;
  margin: auto;
  border-bottom: 1px solid orangered;
  height: 0px;
  border-left: none;
}

.infoCarrito {
  width: 65%;
  background-color: white;
  margin: 2% 0 2% 2%;
  padding: 0%;
  padding-bottom: 2%;
  box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.5);
  border-radius: 15px;
}

.textFav {
  display: flex;
  padding: 3% 15%;
}

.imagenFav {
  width: 50%;
}

.imagenFav img {
  width: 70%;
  height: auto;
}

.descripcionFav {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.descripcionFav h1 {
  font-size: 35px;
}

.descripcionFav p {
  font-size: 25px;
}

#compraCarrito {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    width: 40%;
    height: 50px;
    background: #ff7438;
    font-weight: 700;
    transition: all 0.5s;
}
#compraCarrito p {
  color: white;
  font-size: 15px;
}

#compraCarrito:hover {
  border: 1px solid #f37335;
  background-color: white;
}

#compraCarrito:hover p {
  color: #f37335;
}

.cerrarDetalles,
.detallesCarrito {
  display: none;
}

@media screen and (max-width: 1024px){
    .contenedorCarrito{
        display: flex;
        flex-direction: column;
    }
    
    .imagenFav{
        display: flex;
        align-items: center;
    }
    
.infoCarrito {
    width: 96%;

    border-radius: unset !important;
    box-shadow: unset !important;

}
    #compraCarrito{
        width: 100% !important;
    }
    .precioEstimado{
    width: 100%;
    bottom: 0px;
    margin: 0px;
    left: 0px;
    position: fixed;
    }
    .cajaEstimada{
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        transition: all 0.3s cubic-bezier(.25,.8,.25,1);
        border-radius: unset !important;
        background-color: white;
        height: max-content;
        padding: 5%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .cajaEstimada h1 , .cajaEstimada p , .cajaEstimada .datos , .cajaEstimada .hr-datos{
        display:none;
    }
    
    .cajaEstimada .total{
        display:flex;
        flex-direction: column;
    }
    
    .cajaEstimada .total p{
        display: block !important;
    }

    .botonTotal {
    margin: 0px; 
    padding: 5% 20%;
    }
    
    .Footer{
        position: relative;
    }
    
      .cerrarDetalles,
  .detallesCarrito {
    display: block;
  }

  .fa-sort-up {
    font-size: 30px;
  }

  .cerrarDetalles {
    width: 100%;
    display: none;
    align-items: center;
    justify-content: flex-end;
    font-size: 25px;
  }

}
