* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.caracteristicasCelular i {
  font-size: 40px;
  margin-right: 10px;
}

.caracteristicasCelular .fa-brain {
  color: #d32f2f;
}
.caracteristicasCelular .fa-camera {
  color: #fbc02d;
}
.caracteristicasCelular .fa-battery-full {
  color: #6d4c41;
}
.caracteristicasCelular .fa-android {
  color: #2ecc71;
}
.caracteristicasCelular .fa-memory {
  color: #303f9f;
}
.caracteristicasCelular .fa-portrait {
  color: #ff6f00;
}
.caracteristicasCelular .fa-mobile {
  color: #1976d2;
}
.iconos {
  margin-top: 5px;
  display: flex;
  align-items: center;
}

.caracteristicasCelular span {
  font-family: 'Nunito Sans', sans-serif;
  color: #393c40;
}


@font-face {
  font-family: MI-Regular;
  src: url(../font/Montserrat-Regular.ttf);
}

@font-face {
  font-family: Quicksand-Regular;
  src: url(../font/Quicksand-Regular.ttf);
}

@font-face {
  font-family: Kodchasan-Regular;
  src: url(../font/Kodchasan-Regular.ttf);
}
#padre {
  display: flex;
  margin-top:7%;
}

#celu_img {
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: center;
}

#celu_img #fotoPrincipal {
  display: flex;
  justify-content: center;
  margin: 5% 0;
}

#celu_img #fotoPrincipal img {
  width: auto;
}

#celu_info {
  width: 50%;
  margin: 5% 0;
}

.logo {
  padding: 5%;
  width: 400px;
  height: 500px;
}

#caracteristicas {
  margin: 5% 0;
  display: flex;
  width: 90%;
  margin-bottom: 7%;
}

.caracteristicasCelular {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.caracteristicasCelular li {
  padding: 1%;
  width: 45%;
}

.botones {
  display: flex;
  justify-content: space-between;
  width: 90%;
}

.boton_compra,
.boton_carrito {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  width: 45%;
  height: 50px;
}

.boton_compra {
  background: #ff7438;
  color: white;
  width:100%;
  border: 1px solid  #ff7438;
  transition: all 0.6s;
}

.boton_compra:hover{
    background: white;
    color:  #ff7438;
}

.boton_carrito {
  transition: all 0.6s;
  width:100%;
  border: 1px solid #ff7438;
  color: #ff7438;
}
.boton_carrito:hover{
    background-color: #ff7438;
    color:white;
}


#celu_info h1 {
  width: max-content;
  font-family: MI-Regular;
  font-size: 50px;
  color: black;
  transition: all 0.5s;
}

#celu_info h1:hover {
  color: orangered;
}

.caracteristicasCelular h2 {
  font-family: Quicksand-Regular;
  color: #100f10;
}

#celu_img #tituloMovil{
    display: none;
}

.comprarInfo{
    width:45%;
}

.comprarInfo p{font-family: Quicksand-Regular;}

@media (max-width: 1024px) {
  #padre {
    display: block;
    margin-top:20%;
  }

  #celu_img {
    display: flex;
    width: 100% !important;
    height: max-content !important;
    padding: 5%;
    flex-direction: row;
  }
  #celu_img #fotoPrincipal {
    display: flex;
    width: 50% !important;
    height: max-content;
  }
  #celu_img #fotoPrincipal img {
    width: 100% !important;
    height: auto !important;
  }

  #celu_img #tituloMovil {
    display: block !important;  
    font-family: MI-Regular;
    width: 50% !important;
    height: max-content !important;
    text-align: center !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
  }
  #celu_info {
    width: 100% !important;
    margin: 5% 0 !important;
  }

  #celu_info .tituloCelular {
    display: none !important;
  }

  .caracteristicasCelular {
    flex-direction: column;
    width: 100% !important;
    padding: 3%;
  }

 #caracteristicas{
    width: 100% !important;
    margin: 0 !important;
    margin-bottom: 5% !important;
    display: flex;
  }

  .caracteristicasCelular li {
    padding: 7% 3%;
    border-bottom: 1px solid #efefef;
    width: 100% !important;
  }
  
  .caracteristicasCelular span{padding: 0 0 0 3%; width: 100%;}

  .botones {
    display: flex;
    justify-content: space-around;
    width: 100% !important;
  }
}
