* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Proxima Nova, Helvetica Neue, Helvetica, Roboto, Arial,
    sans-serif;
  list-style: none;
  text-decoration: none;
}

body {
  background: #fdc830; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #fdc830,
    #f37335
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #fdc830,
    #f37335
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-repeat: no-repeat;
  background-size: cover;
}
#head {
  text-align: center;
  color: #df6e55;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
#head .icono {
  height: auto;
  width: 37px;
  margin: 1%;
}
#head .icono img {
  width: 100%;
  height: 100%;
}
#padre {
  display: flex;
  margin-top:5.5%;
}

#filtros {
  width: 20%;
  padding-left: 2%;
  background-color: white;
}

.icono-filtro {
  display: flex;
}

#filtros span {
  padding: 1%;
  padding-right: 5% !important;
  margin-right: 3%;
  font-weight: bold;
  font-size: 1.5em;
  color: #ff7438;
}

dt {
  font-weight: bold;
  margin: 7% 0;
  display: flex;
  align-items: center;
}

.filtro ol {
  list-style: none;
}

.filtro ol li {
  padding: 5px 0 10px 10px;
}

#filtros li a {
  text-decoration: none;
  color: #565656;
}

#filtros li a:hover {
  color: #e94d1d;
}

#productos {
  margin-top: 1%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  overflow-y: scroll;
  overflow-x: hidden;
}

.producto {
  margin: 10px;
  width: 25%;
  padding: 20px;
  height: auto;
  border: 1px solid #d5d5d56b;
  border-radius: 5%;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  transition: box-shadow 500ms;
  background-color: white;
}

.producto:hover {
  box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.5);
}

#foto {
  width: 100%;
  height: auto;
}

.producto .modelo {
  font-weight: bold;
  padding: 5% 0;
  text-align: center;
 
}

.producto .modelo:hover {
  color: #e94d1d;
}

.producto .precio {
  font-size: 150%;
}

.producto .boton_compra {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
  width: 100%;
  height: 50px;
  background: #ff7438;
  font-weight: 700;
  transition: all 0.5s;
}

.producto .boton_compra p {
  color: white;
  transition: all 0.7s;
}

.producto .boton_compra:hover p {
  color: orangered;
}

.producto .boton_compra:hover {
  border: 1px solid orangered;
  background-color: white;
}

.precioCarrito {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.bCarritoSolucion {
  padding: 3%;
  margin-bottom: -6%;
  margin-top: -6%;
}

.precioCarrito .fa-cart-plus,
.precioCarrito .fa-heart {
  font-size: 20px;
  color: black;
  margin: 0 10px;
  transition: all 0.5s;
  transform: scaleX(-1);
  display: flex;
}

.precioCarrito .bCarritoSolucion:hover .fa-cart-plus,
.precioCarrito .bCarritoSolucion:hover .fa-heart {
  font-size: 30px;
  color: orangered;
}

.precioCarrito .bCarritoSolucion:hover .fa-cart-plus,
.precioCarrito .bCarritoSolucion:hover .fa-heart {
  transform: scaleX(1);
}

@media (max-width: 720px) {
    #padre{
        margin-top:20%;
    }
  #filtros span {
    margin-right: 7% !important;
  }
    
  .precioCarrito .fa-cart-plus {
    font-size: 25px !important;
  }

  #filtros {
    width: auto;
    padding: 2%;
  }
  .producto {
    margin: 5% 2%;
    width: 25%;
    height: auto;
    border-radius: 0px !important;
  }
}

@media (max-width: 660px) {
  .producto {
    width: 85%;
    height: auto;
  }
}

@media (max-width: 500px) {
  .producto {
    width: 85%;
    height: auto;
  }
}
