body {
  background-color: #efefef;
}
.cont{width: 100%;}
.contendorCompra{
    margin-top:7%;
}

.cajasCompras {
  width: 63%;
  margin: 2%;
  padding: 3% 5%;
  background-color: white;
  border: 1px solid white;

  transition: all 1s;
}

.cajasCompras h1 {
  margin-bottom: 3%;
  font-family: Quicksand-Regular;
  font-size: 35px;
}

.cajasCompras:hover {
  border-radius: 5px;
  border: 1px solid orangered;
  box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.16);
}

.cajasCompras label {
  font-size: 15px;
  color: orangered;
  font-family: Kodchasan-Regular;
  margin-bottom: 1%;
}

.cajasCompras input,
.inputDireccionBottom select,
.inputDireccionBottom .pais {
  font-size: 13px;
  color: #747474;
  font-family: Roboto-Regular;
}

.flag-icon-ar {
  font-size: 20px;
}

.contacto,
.direccion {
  margin: 1% 0 3% 0;
}

.contacto {
  display: flex;
  width: 100%;
}

.inputContactoIzq {
  margin-right: 3%;
  width: 50%;
}

.inputContactoIzq input {
  border: none;
  border: 1px solid #747474;
  border-radius: 7px;
  height: 40px;
  width: 100%;
  padding-left: 1%;
}

.inputContactoDer {
  display: flex;
  width: 50%;
}

.inputContactoDer input[name="area"] {
  border: none;
  border: 1px solid #747474;
  border-right: none;
  border-radius: 7px 0 0 7px;
  height: 40px;
  width: 45px;
  text-align: center;
}

.inputContactoDer input[name="phone"] {
  border: none;
  border: 1px solid #747474;
  border-radius: 0px 7px 7px 0px;
  height: 40px;
  padding-left: 1%;
  width: 100%;
}

.inputDireccionTop {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 2%;
}

.inputDireccionTop input[name="calle"] {
  width: 49%;
  border: none;
  border: 1px solid #747474;
  border-radius: 7px;
  height: 40px;
  padding-left: 1%;
}

.inputDireccionTop input[name="altura"] {
  width: 49%;
  border: none;
  border: 1px solid #747474;
  border-radius: 7px;
  height: 40px;
  padding-left: 1%;
}

.inputDireccionBottom {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.inputDireccionBottom .pais {
  padding: 1%;
  border-radius: 7px;
  display: flex;
  align-items: center;
  width: 31%;
  border: 1px solid #747474;
}

.inputDireccionBottom select span {
  margin-left: 10px;
}

.inputDireccionBottom input,
.inputDireccionBottom select {
  border: none;
  width: 31%;
  border: 1px solid #747474;
  border-radius: 7px;
  height: 40px;
  padding-left: 1%;
}

.cp input {
  width: 49%;
  border: none;
  border: 1px solid #747474;
  border-radius: 7px;
  height: 40px;
  padding-left: 1%;
}

.tarjeta {
  display: flex;
  justify-content: space-between;
}

.tarjetaFrontal,
.tarjetaPosterior {
  width: 45%;
  border-radius: 15px;
  background-color: #efefef;
  height: 260px;
}

.tarje {
  display: flex;
  justify-content: space-around;
  width: 100%;
  align-items: center;
  margin-top: 10%;
}

.datosTarje {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.datosTarje input {
  border: none;
  background-color: #efefef;
  border-bottom: 1px solid black;
  font-size: 20px;
  font-family: Kodchasan-Regular;
}

.datosTarje label {
  color: orangered;
  font-family: Roboto-Regular;
  font-size: 10px;
}

.numTarjeta {
  margin: auto;
  margin-top: 20%;
  width: 90%;
  display: flex;
  flex-direction: column;
}

.numTarjeta input {
  font-size: 25px;
  background-color: #efefef;
  font-family: Kodchasan-Regular;
  border: none;
  border-bottom: 1px solid black;
}

.numTarjeta label {
  font-size: 15px;
  margin-left: 1%;
  color: orangered;
  font-family: Roboto-Regular;
}

.barraTarjeta {
  width: 100%;
  height: 50px;
  background-color: #747474;
  margin-top: 5%;
}

.cvv {
  display: flex;
  flex-direction: column;
  margin-top: 3%;
  width: 100%;
  text-align: end;
  align-items: flex-end;
}

.cvv label {
  margin-right: 3%;
  font-size: 15px;
  color: orangered;
  font-family: Roboto-Regular;
}

.cvv input {
  border: none;
  background-color: #efefef;
  border-bottom: 1px solid black;
  font-size: 20px;
  font-family: Kodchasan-Regular;
  margin-right: 3%;
  width: 11%;
  text-align: end;
}

.detallesPedido {
  display: flex;
}

.imagenPedido {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.imagenPedido img {
  width: 50%;
}

.textPedido {
  width: 100%;
}

.p {
  font-size: 18px;
  margin-right: 2%;
  color: black;
  font-family: Roboto-Regular;
}

.precio,
.envio {
  display: flex;
  align-items: center;
  font-family: Kodchasan-Regular;
  font-size: 15px;
  color: #747474;
}

.tituloCelular h1 {
  font-size: 25px;
  margin-bottom: 2%;
}

.infoCompra form {
  display: flex;
}

.cerrarDetalles, .detallesCarrito {
    display: none;
}

.precioEstimado h1,
.precioEstimado p {
  font-family: Kodchasan-Regular;
}
.precioEstimado h3,
.precioEstimado .valores {
  font-family: Roboto-Regular;
}

.confirmar input {
  margin: auto;
  margin-top: 7%;
  background-color: orangered;
  padding: 5%;
  text-align: center;
  border-radius: 10px;
  transition: all 1s;
  color: white;
  font-family: Roboto-Regular;
  width: 100%;
  border: none;
  border: 1px solid orangered;
  box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.16);
  font-size: 20px;
  cursor: pointer;
}

.confirmar:hover input {
  background-color: white;
  color: orangered;
}
.precioEstimado {
  width: 30%;
  margin: 5% 2% 2% 2%;
  position: fixed;
  right: 0%;
}

.cajaEstimada {
  background-color: white;
  height: max-content;
  padding: 5%;
}

.cajaEstimada h1 {
  text-align: center;
  margin-bottom: 5%;
}

.cajaEstimada .datos,
.cajaEstimada .total {
  display: flex;
  justify-content: space-between;
}

.hr-datos {
  margin: 7% auto;
  border: none;
  border-bottom: 1px solid hsla(200, 10%, 50%, 100);
  width: 100% !important;
}

@media screen and (max-width: 1024px) {
  .precioEstimado {
    top: auto;
  }
  .cvv input {
    width: 13%;
  }
  #tituloMovil{
      display:block !important;
  }
  .confirmar input {
    font-size: 20px;
    width: max-content;
  }
  .infoCompra form {
    display: block;
  }
  .cajasCompras {
    width: 97%;
    margin: 2% auto;
  }
  .tarjeta {
    display: block;
  }
  .tarjetaFrontal,
  .tarjetaPosterior {
    width: 100%;
  }
  .numTarjeta {
    margin-top: 5%;
  }
  .numTarjeta label {
    margin-top: 40%;
  }
  .tarjetaPosterior {
    margin-top: 5%;
    padding-top: 2%;
    background-color: #efefef;
  }
  .cajasCompras h1 {
    text-align: center;
  }
  .textPedido h1 {
    text-align: start;
  }
  .detallesPedido {
    display: block;
  }
  .imagenPedido {
    width: 100%;
    margin: 3% 0;
  }
  .imagenPedido img {
    width: 60%;
  }
  .textPedido .tituloCelular {
    display: none;
  }
  .contacto input,
  .direccion input,
  .pais {
    padding-left: 3% !important;
  }
    .precioEstimado {
    width: 100%;
    bottom: 0px;
    margin: 0px;
    left: 0px;
    position: fixed;
  }
  .cajaEstimada {
    box-shadow: unset !important;
    border-radius: unset !important;
    background-color: white;
    height: max-content;
    padding: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .cajaEstimada h1,
  .cajaEstimada p,
  .cajaEstimada .datos,
  .cajaEstimada .hr-datos {
    display: none;
  }

  .cajaEstimada .total {
    display: flex;
    flex-direction: column;
  }

  .cajaEstimada .total p {
    display: block !important;
  }

  .botonTotal {
    margin: 0px;
    padding: 5% 20%;
  }

  .Footer {
    position: relative;
  }

  .cerrarDetalles,
  .detallesCarrito {
    display: block;
  }

  .fa-sort-up {
    font-size: 30px;
  }

  .cerrarDetalles {
    width: 100%;
    display: none;
    align-items: center;
    justify-content: flex-end;
    font-size: 25px;
  }
  .contendorCompra{
    margin-top:22%;
  }
}
