@font-face {
  font-family: Roboto-Regular;
  src: url(../font/Roboto-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto-Regular;
}

section {

  height: fit-content;
  padding-top: 1%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
  background-color: orangered;
}

body {
  background-color: orangered;
}

/*			Insert			*/
.insert {

  overflow: auto;
  text-align: center;
  width: 50%;
  padding: 2%;
  margin: 1%;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.insert .img {
  margin: 0 auto;
  width: 25%;
  height: auto;
}
.insert .img img {
  width: 100%;
}

.insert .cont-text {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  text-align: justify;
  align-items: center;
  padding-top: 3%;
}

.insert .cont-text .text .fam {
  margin-bottom: 5%;
}

.insert .cont-text .text .fam select {
  margin-left: 3%;
  display: inline-block;
  flex-direction: row;
  width: 75%;
  text-align: center;
  font-size: 16px;
  padding-left: 25%;
  border: none;
  border-bottom: 1px solid #747474;
}

.insert .cont-text .text {
  max-width: 70%;
  width: 50%;
}

.insert h1 {
  color: #747474;
  text-align: center;
  margin-bottom: 2%;
  font-size: 40px;
}
.insert form label {
  font-size: 20px;
}
.insert form input[type="text"] {
  font-size: 16px;
  border: none;
  width: 97%;
  display: flex;
  border-bottom: 1px solid #747474;
  margin: 1%;
  padding: 1px 5%;
}
.insert form input[type="file"] {
  padding-top: 5%;
  height: 45px;
  width: 100%;
  border: none;
  border-bottom: 1px solid #747474;
  font-size: 15px;
}
.insert form input[type="submit"] {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border: solid gainsboro 2px;
  background-color: orangered;
  display: block;
  color: white;
  padding: 5% 20%;
  font-size: 17px;
  display: block;
  margin: 10% auto;
  margin-bottom: 0%;
  transition: all 0.5s;
}
.insert form input[type="submit"]:hover,
.insert .botonEditar .editar:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

/*			CONTACTOS  			*/

/* 			Editar		dead editar styles	xD	*/

.insert .img .imgEdit {
  border: none;
  width: 180px;
}

.insert .archivoEditar {
  display: flex;
  align-items: center;
}

.insert .botonEditar {
  display: flex;
}

.insert .botonEditar .editar {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border: solid gainsboro 2px;
  background-color: orangered;
  display: block;
  color: white;
  padding: 5% 20%;
  font-size: 17px;
  display: block;
  margin: 10% auto;
  margin-bottom: 0%;
  transition: all 0.5s;
  padding: 2% 10%;
}

/*			Contactos			*/
.contactos {

  padding: 2%;
  width: 50%;
  height: 500px;
  overflow: auto;
  color: black;
  font-size: 25px;
  background-color: white;
  margin: 1%;
  border-radius: 15px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.contactos img {
  width: 50px;
  height: 50px;
}

.contactos .title {
  color: #747474;
  text-align: center;
  margin-bottom: 2%;
  font-size: 40px;
}
.contactos #c-padre {
  display: flex;
  align-items: center;
  padding: 1%;
}
.contactos #c-padre #c-hijo {
  display: none;
}
.contactos #c-padre:hover #c-hijo {
  display: flex;
  cursor: pointer;
  padding: 1% 5%;
  margin-left: 2%;
  border-bottom: 1px solid orangered;
}

.contactos #c-padre #c-hijo .lnr-pencil,
.contactos #c-padre #c-hijo .lnr-trash {
  margin: 0 20%;
  color: orangered;
  transition: all 0.5s;
}
.contactos #c-padre #c-hijo .lnr-pencil:hover,
.contactos #c-padre #c-hijo .lnr-trash:hover {
  color: black;
}

.contactos #c-padre span {
  padding-left: 2%;
}

/*			Listado	 dead styles		*/

/*				Btn's		      */
.btn_insert,
.btn_list {
  display: none;
  font-size: 35px;
  border-radius: 100%;
  margin: 1% 1%;
  padding: 1% 1% 0 1.2%;
  background-color: black;
  color: orangered;
  position: fixed;
  bottom: 0;
  left: 0;
}

.icono {
  padding: 4%;
  background-color: orangered;
  border-radius: 8px 19px 8px 19px;
}

.icono .lnr-magnifier {
  color: white;
}

.hr-back {
  border: none;
  border: 1px solid orangered;
  height: 0px;
  width: 100%;
  margin: 3% 0;
  border-radius: 100%;
}

.menuPrincipal_Logo_sub .sub {
  display: flex;
  width: 200px;
  justify-content: space-around;
}

/*  USUARIO  */

.contUser {
  display: flex;
  flex-direction: column;
  width: 90%;
  background-color: white;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  margin: 5% auto;
  overflow: auto;
}

.contUser h1 {
  padding-top: 2%;
  text-align: center;
}

#hrUser {
  width: 80%;
  margin: 2% auto !important;
}

.user {
  width: 60%;
  margin: auto;
}

.user ul {
  margin: 2% 0%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 15px;
  padding: 2%;
  transition: all 0.5s;
}

.user ul:hover {
  background: #fafafa;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.bott {
  width: 90%;
}

.bot {
  width: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bot a {
  font-size: 25px;
  color: black;
  transition: all 0.5s;
}

.bot a:hover {
  color: orangered;
}

/*     FICHA TECNICA      */

.cont-text .text .fichaTecnica {
  padding-top: 15%;
}

@media screen and (max-width: 800px) {
  .menuPrincipal_Logo_sub .sub {
    display: flex !important;
  }

  .menuPrincipal_Busqueda {
    margin-left: 0px !important;
  }

  .menuPrincipal_Busqueda input[type="search"] {
    display: block !important;
    border: none !important;
    border: 1px solid #747474 !important;
  }

  .icono {
    border-radius: 0px !important;
  }

  .insert {
    width: 95%;
    overflow: none;
    height: max-content !important;
  }

  .insert .cont-text .text {
    max-width: 90%;
    width: 80%;
  }

  .insert .img {
    width: auto;
  }

  .insert .img img {
    width: 35%;
  }

  .contactos {
    display: none;
    margin: 10% auto;
    width: 95%;
    height: max-content !important;
  }

  .contactos #c-padre {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 10%;
  }
  .contactos #c-padre #c-hijo {
    justify-content: space-between;
    width: 90%;
    padding: 2% 5% !important;
  }

  .contactos #c-padre #c-hijo .lnr-pencil,
  .contactos #c-padre #c-hijo .lnr-trash {
    margin: 0% 25%;
  }

  .btn_list,
  .btn_insert {
    display: block;
  }
  .insert form input[type="file"] {
    width: 75%;
  }
  .editar form input[type="file"] {
    width: 75%;
  }

  .menuPrincipal .menuPrincipal_Logo,
  .menuPrincipal .menuPrincipal_Busqueda {
    width: 45%;
  }

  .icono {
    padding: 5%;
    border-radius: 0px 8px 0px 8px;
  }

  .contUser {
    height: max-content !important;
  }

  .user {
    width: 80% !important;
  }

  .bott {
    width: 75% !important;
  }

  .bot {
    width: 25% !important;
  }
}
