.contenedorFavoritos {
  background: #fdc830;
  background: -webkit-linear-gradient(to top, #fdc830, #f37335);
  background: linear-gradient(to top, #fdc830, #f37335);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 1%;
}

#hr-fav {
  width: 100%;
  border-bottom: 1px solid orangered;
  height: 0px;
  border-left: none;
}

.infoFavoritos {
  width: 80%;
  background-color: white;
  margin: 4% auto;
  padding: 5%;
  box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.5);
  border-radius: 15px;
}

.textFav {
  display: flex;
  padding: 3% 15%;
}

.imagenFav {
  width: 50%;
}

.imagenFav img {
  width: 70%;
  height: auto;
}

.descripcionFav {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.descripcionFav h1 {
  font-size: 35px;
}

.descripcionFav p {
  font-size: 25px;
}

#compraFavoritos {
  width: 40%;
}

#compraFavoritos:hover {
  border: 1px solid #f37335;
  background-color: white;
}

#compraFavoritos:hover p {
  color: #f37335;
}

#compraFavoritos p {
  color: white;
  font-size: 15px;
}

.botonesFav {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.boton_compra {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
  width: 100%;
  height: 50px;
  background: #ff7438;
  font-weight: 700;
  transition: all 0.5s;
}

.producto .boton_compra p {
  color: white;
  transition: all 0.7s;
}

.producto .boton_compra:hover p {
  color: orangered;
}

.boton_cerrar {
  display: flex;
  text-align: end;
  justify-content: flex-end;
  font-size: 40px;
}
.boton_cerrar i {
  transition: all 0.5s;
}

.boton_cerrar .solucion {
  margin-top: 3%;
  position: absolute;
}

.boton_cerrar i:hover {
  font-size: 45px;
  color: orangered;
}


@media screen and (max-width: 1024px){
    .infoFavoritos{
        width: 95% !important;
        border-radius: unset !important;
        box-shadow: unset;

    }
    .textFav{
        padding: 3% !important;
    }
    
    .imagenFav{
        display: flex;
        align-items: center;
    }
    
    .imagenFav img{
        width: 100%;
    }
    .botonesFav{
        display: block;
        
    }
    
    .descripcionFav h1{font-size: 25px;}
    .descripcionFav p{font-size: 20px;}
    
    .botonesFav #compraFavoritos {
        width: 100% !important;
        height: 35px !important;
    }
    
    .botonesFav #compraFavoritos p{
        font-size: 10px;
    }
    
}

