.Footer {
  color: white;
  font-family: Roboto-Regular;
  color: #747474;
  background-color: white;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  width: 100%;
  text-align: center;
  font: normal 6px sans-serif;
  display: flex;
  padding: 2% 0 5px 0px;
  justify-content: space-around;
}

.contFooter {
  width: 100%;
  display: flex;
  align-items: flex-end;
}

.leftFooter,
.rightFooter,
.columna {
  align-items: center;
  text-align: center;
  width: 50%;
}

.leftFooter {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding-bottom: 1%;
  text-align: center;
}

.columna {
  margin: 0% 5%;
  display: flex;
  flex-direction: column;
}

.columna h1 {
  font-size: 30px;
}

.Footer .leftFooter p,
.leftFooter a {
  color: #747474;
  padding-top: 3%;
  font-size: 15px;
}

.Footer .rightFooter p {
  font-size: 12px;
  padding: 2%;
}

.Footer .rightFooter a {
  border-radius: 2px;
  font-size: 35px;
  color: #747474;
  text-align: center;
  line-height: 35px;
  margin-left: 3px;
}

.Footer .rightFooter a:hover {
  transition: 0.5s;
  color: #ff6709;
}

.Footer .rightFooter a i {
  width: 50px;
  height: 30px;
}

.hr-footer {
  border: none !important;
  border: 1px solid orangered !important;
  height: 0px !important;
  width: 85% !important;
  margin: 1% 0 !important;
  border-radius: 100% !important;
}

#fam a:hover {
  color: orangered;
}

@media (max-width: 1280px) {
  .contFooter {
    display: flex !important;
    flex-direction: column-reverse !important;
    align-items: center !important;
  }
  .Footer {
    width: 100% !important;
    background-color: white !important;
    color: #747474 !important;
    flex-direction: column;
  }

  .leftFooter,
  .rightFooter {
    text-align: center !important;
    padding-bottom: 5% !important;
    width: 90% !important;
  }
}
