* {
  box-sizing: border-box;
  padding: 0;
  margin: 0 auto;
  text-decoration: none;
  list-style: none;
}
@font-face {
  font-family: Roboto-Regular;
  src: url(../font/Roboto-Regular.ttf);
}

@font-face {
  font-family: Quicksand-Regular;
  src: url(../font/Quicksand-Regular.ttf);
}

@font-face {
  font-family: Kodchasan-Regular;
  src: url(../font/Kodchasan-Regular.ttf);
}

#slider{
    display:none;
}

.contPrincipal {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  margin-top: 7%;
}
.contPrincipal .imgMI {
  width: 45%;
}
.contPrincipal .textMI {
  width: 55%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 0 0 5%;
}
.contPrincipal .imgMI img {
  width: 100%;
}
.contPrincipal .textMI h2,
.contEspec .textEspec h3 {
  font-family: "Nunito Sans", sans-serif;
  display: block;
  font-size: 2rem;
  letter-spacing: 1.18px;
  color: rgb(52, 51, 72);
  margin: 0px 0px 0.8rem;
  margin-right: 1%;
}
.contPrincipal .textMI h1 {
  font-size: 4.7rem;
  font-family: proxima-nova, sans-serif;
  font-weight: 900;
  font-style: normal;
  margin: 0px;
}
.contPrincipal .textMI span {
  font-size: 1.5rem;
}
.contPrincipal .textMI p,
.contEspec .textEspec p {
  font-size: 1.5rem;
  color: rgb(52, 51, 72);
  font-family: "Nunito Sans", sans-serif;
}

.text {
  text-transform: uppercase;
  background: linear-gradient(to right, #265ce3 0%, #fc41ff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.module-border-wrap {
  width: 90%;
  background: linear-gradient(to right, #265ce3, #fc41ff);
  padding: 2px;
  text-align: center;
  margin-top: 5%;
  transition: all 0.5s;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.module {
  background: white;
  color: rgb(52, 51, 72);
  font-family: "Nunito Sans", sans-serif;
  padding: 3% 7%;
  font-size: 35px;
  transition: all 1s;
}
.module-border-wrap:hover .module {
  background: linear-gradient(to right, #265ce3, #fc41ff);
  color: white;
}
.module-border-wrap:hover {
  border: 1px solid black;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.contEspec {
  display: flex;
  width: 100%;
  padding: 3%;
  margin: 0 auto;
  justify-content: space-around;
}
.contEspec .cajas {
  padding: 3%;
  width: 30%;
  transition: all 0.7s;
  border: 1px solid #f3f3f3;
}
.contEspec .iconEspec i {
  text-transform: uppercase;
  background: linear-gradient(to right, #265ce3 0%, #fc41ff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 3.5rem;
}
.contEspec .textEspec {
  padding: 5% 0 0 0;
}
.contEspec .textEspec h3 {
  color: black;
}
.contEspec .cajas:hover {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

/*mi colores*/
#mi .text {
  background: linear-gradient(to right, #265ce3 0%, #a23af3 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#mi .contEspec .iconEspec i {
  background: linear-gradient(to right, #265ce3 0%, #a23af3 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#mi .module-border-wrap {
  background: linear-gradient(to right, #265ce3, #a23af3);
}

#mi .module-border-wrap:hover .module {
  background: linear-gradient(to right, #265ce3, #a23af3);
  color: white;
}
/*poco colores*/
#poco .text {
  background: linear-gradient(to right, #874715 0%, #ffd518 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#poco .contEspec .iconEspec i {
  background: linear-gradient(to right, #874715 0%, #ffd518 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#poco .module-border-wrap {
  background: linear-gradient(to right, #874715, #ffd518);
}

#poco .module-border-wrap:hover .module {
  background: linear-gradient(to right, #874715, #ffd518);
  color: white;
}

.botones {
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}
.botones a {
  width: 50%;
}

#masProduc {
  color: white;
  background-color: rgb(52, 51, 72);
}

@media screen and (max-width: 1024px) {
  #slider {
    display: none !important;
  }

  .botones {
    display: block;
  }
  .contPrincipal {
    display: flex;
    margin-top: 25%;
    flex-direction: column-reverse !important;
  }
  .contPrincipal .imgMI,
  .contPrincipal .textMI {
    width: 100%;
    max-width: 100%;
  }
  .contPrincipal .textMI {
    padding: 5%;
  }
  .textMI h1 {
    padding: 5% 0;
    font-size: 35px !important;
    text-align: center;
  }
  .textMI p {
    font-size: 25px;
    text-align: center;
  }
  .module {
    font-size: 30px;
  }
  .module-border-wrap {
    width: 90%;
    margin: 5% auto;
  }
  .contEspec {
    flex-direction: column;
  }
  .contEspec .cajas {
    width: 100%;
    border: none;
    margin-bottom: 10%;
    border-bottom: 1px solid #f3f3f3;
  }
}
