*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@font-face{
	font-family: MI-Regular;
	src:url(../font/Montserrat-Regular.ttf);
}

@font-face{
	font-family: Kodchasan-Regular;
	src:url(../font/Kodchasan-Regular.ttf);
}

@font-face{
	font-family: Quicksand-Regular;
	src:url(../font/Quicksand-Regular.ttf);
}

/* APRTADO PRINCIPAL */

.principal, .desc{
	max-width: 100%;
	width: 100%;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;	

}

#textTitulo{
	padding: 3%;
}

.titulo, .textDesc{
	position: absolute;
	margin-left:  45%;
    display: flex;
    flex-direction: column;
 	text-align: center;
 	color: white;
}



.titulo h1, .textDesc h1{
	transition: 3s;	
	font-family: MI-Regular;	
	margin-top: 1%;
	font-size: 100px;
}

.titulo span{
	transition: 3s;	
    border-radius: 30% 30% 30% 30%;	
	font-family: MI-Regular;
	font-size: 40px;
	border: solid white 1.3px;
	padding: 2%;

}

.titulo span:hover{
    border-radius: 30% 30% 30% 30%;		
	transition: 1s;
	background-color: black;
}

.titulo p , .textDesc p{
	transition: 3s;	
	padding-top: 5%;
	font-family: Kodchasan-Regular;
	font-size: 30px;
}




 input[type='submit']{/*Estilos del boton de enviar*/
 	font-family: MI-Regular;	
    margin: 0;
    font-size: 30px;
    border: solid white 0.1px;
    background-color: transparent;
    padding: 2% 5%;
    margin-top: 5%;
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.16);
    background-color: transparent;
	transition: 1s;
	color: white;
}




input[type='submit']:hover{

}

.boton:hover input[type='submit']{
	transition: 0.9s;	
	background-color: black;
	box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.16);
	border: solid white 0.5px;

}
