* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

#primerCambio{
    width: 50% !important; 
}

#segundoCambio h1{
    padding-left: 3%;
}

.contenedorIniciarSecion {
  width: 100%;
  height: 100%;
  background: #fdc830; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #fdc830,
    #f37335
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #fdc830,
    #f37335
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenedorIniciarSecion_formulario {
  margin: 5% 0;
  width: 80%;
  background-color: white;
  height: max-content;
  padding: 5% 5% 0% 7%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

  border-radius: 7px;
}

.formulario_titulo {
  display: flex;
  align-items: center;
  padding-bottom: 7%;
}

.formulario_titulo h1 {
  width: 75%;
  color: #747474;
  padding-left: 3%;
}

.formulario_iniciar {
  display: flex;
}

.contenedorIniciarSecion_formulario h2 {
  font-size: 18px;
  color: red;
}


.formulario_iniciar form {
  width: 100%;
  padding-top: 3%;
}

.formulario_iniciar input[type="text"],
.formulario_iniciar input[type="email"],
.formulario_iniciar input[type="password"] {
  margin-bottom: 3%;
  width: 100%;
  border: none;
  padding: 6px 6px 6px 0px;
  border-bottom: 1px solid #666;
  height: 36px;
  outline: none;
  font-size: 16px !important;
}

.formulario_boton {
  width: 95%;
  display: flex;
  justify-content: flex-end;
  margin: 10% 0% 3%;
}

.formulario_iniciar input[type="submit"] {
  width: max-content !important;
  padding: 3% 5%;
  border: none;
  color: white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  background-color: #ff6700;
  transition: all 0.5s;
  cursor: pointer;
}

.formulario_iniciar input[type="submit"]:hover {
  background-color: #df6e55;
}
.formulario_registro {
  padding: 5% 0%;
  font-size: 14px !important;
  display: flex;
  justify-content: space-between;
}

.formulario_registro a {
  color: #ff6700;
}

.pass {
  transition: all 0.5s;
  font-size: 12px !important;
  border-bottom: 1px solid #747474;
  width: max-content;
  margin-bottom: 7%;
  margin-top: 5%;
}

.pass a {
  transition: all 0.7s;
  color: #747474;
}

.pass:hover {
  font-size: 12px !important;
  border-bottom: 1px solid black;
  width: max-content;
}

.pass:hover a {
  color: orangered;
}

.recordarDatos {
  display: flex;
  align-items: center;
}

.recordarDatos span {
  margin-left: 1%;
}

@media (max-width: 720px) {
    
#primerCambio{
    width: 100% !important; 
}

    
   .modal .cont-modal,
  .modal2 .cont-modal2,
  .modal3 .cont-modal3,
  .modal4 .cont-modal4 {
    width: 100%;
    max-width: 100% !important;
    left: 0 !important;
  }

  .modal:target .cont-modal,
  .modal2:target .cont-modal2,
  .modal3:target .cont-modal3,
  .modal4:target .cont-modal4 {
    top: 10.4% !important;
  }


  .contenedorIniciarSecion_formulario {
    width: 95% !important;
    border-radius: 0px;
  }

  .formulario_titulo {
    width: 100%;
  }

  .formulario_titulo h1 {
    padding-left: 5% !important;
  }

  .formulario_boton {
    margin: 5% 0% 0% !important;
  }
  
  .volver{
    padding-right: 0px !important;  
  }
}
