* {
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
  text-decoration: none;
  list-style: none;
}

.mihome {
  transition: all 0.5s;
  width: 56px;
  height: 56px;
  background-image: url("../imagenes/mihome2.png");
  background-position-x: -56px;
}

.mihome:hover {
  background-position-x: 0px;
}

.inisar a {
  text-align: center;
}

.alertEstado {
  font-family: Roboto-Regular;
  background-color: #efefef;
  display: flex;
  padding: 1% 3%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.alertEstado .iconoEstado {
  font-size: 35px;
  color: orangered;
}

.alertEstado .textEstado {
  padding: 0% 3%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.alertEstado .textEstado p {
  font-size: 14px;
}

.alertEstado .textEstado h3 {
  color: red;
  font-size: 16px;
}

.alertEstado .closeEstado {
  width: max-content;
  height: max-content;
  font-size: 20px;
}

.menuPrincipal a {
  color: #747474;
}

.menuPrincipal {
  z-index: 100;
  font-family: Quicksand-Regular;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1%;
  background-color: white;
  position: fixed;
  width: 100%;
  top: 0;
  border-bottom: 0.2rem solid orangered;
}

.menuPrincipal_Logo {
  display: flex;
  align-items: center;
}

.menuPrincipal_Logo,
.menuPrincipal_Busqueda,
.menuPrincipal_User {
  width: 33.33%;
}

.menuPrincipal_Logo h1 {
  margin-left: 5%;
  margin-right: 5%;
  font-size: 40px;
  font-family: "Roboto", sans-serif;
}

.menuPrincipal_Busqueda {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menuPrincipal_User {
  display: flex;
  justify-content: flex-end;
}

hr {
  border: none;
  border-left: 1px solid hsla(200, 10%, 50%, 100);
  height: 30px;
  width: 1px;
  margin: 0% 3%;
}

.menuPrincipal_Busqueda form {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 10%;
}

.menuPrincipal_Busqueda .icon {
  padding: 50% !important;
  font-size: 23px;
  background: #ff6700;
  margin-top: 0%;
  margin-right: -8%;
  color: white;
  border-radius: 2px 15px 0px 15px;
}

.menuPrincipal_Busqueda input[type="search"] {
  font-size: 16px;
  padding-left: 3%;
  height: 40px;
  width: 80%;
  border: none;
  background-color: #f3f3f3;
  border-radius: 21px 0 0 21px;
  outline: none;
}

.menuPrincipal_Busqueda input[type="submit"] {
  height: 30px;
  position: absolute;
}

.menuPrincipal_Logo_sub {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  font-size: 16px;
  transition: all 0.5s;
}

.menuPrincipal_Logo_sub_desplegable {
  padding: 1% 3% 1% 1%;
  background-color: white;
  display: flex;
  flex-direction: column;
  position: absolute;
}

.menuPrincipal_Logo_sub_desplegable a {
  /* margin-bottom: 30%; */
  padding-bottom: 30%;
  display: flex;
  /* justify-content: center; */
  align-items: center;
}

.menuPrincipal_Logo_sub ul {
  list-style: none;
}

.menuPrincipal_Logo_sub ul ul {
  display: none;
  position: absolute;
  background-color: white;
  padding: 1% 2% 1% 0%;
  width: 10%;
  margin-left: -10px;
  padding-top: 19px;
}

.sub ul li ul li {
  margin-top: 10%;
  transition: all 0.5s;
}

.sub ul li ul li a {
  padding: 5%;
}

.sub ul li a:hover + ul,
.sub ul li ul:hover {
  display: block;
}

.sub ul li ul li:hover {
  background-color: gainsboro;
  margin-top: 10%;
  padding: 0% 5% 3%;
  width: 120%;
}

#show-modal,
#show-modal2,
#show-modal3,
#show-modal4,
#show-modal5 {
  text-align: center;
  font-weight: 500;
  border-radius: 3.5px;
  text-decoration: none;
  transition: all 0.5s linear;
}

#show-modal:hover,
#show-modal2:hover,
#show-modal3:hover,
#show-modal4:hover,
#show-modal5:hover {
  cursor: pointer;
  color: orangered;
}

.modal,
.modal2,
.modal3,
.modal4,
.modal5 {
  position: fixed;
  top: -100vh;
  left: 0;
  z-index: 99999999999999;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  transition: opacity 0.35s ease;
}

.modal .cont-modal,
.modal2 .cont-modal2,
.modal3 .cont-modal3,
.modal4 .cont-modal4,
.modal5 .cont-modal5 {
  width: 100%;
  max-width: 50%;
  position: fixed;
  left: 25%;
  top: -100vh;
  transition: top 0.35s ease;
  margin-left: -250px;
  background: white;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  z-index: 999999999;
  margin: auto;
}

.modal5 .cont-modal5 {
  left: 0% !important;
  max-width: 100%;
}

.modal article,
.modal2 article,
.modal3 article,
.modal4 article,
.modal5 article {
  height: max-content;
  background: #747474;
}

.close-modal {
  position: absolute;
  top: 0.7em;
  right: 0.575em;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.cont-modal .fa-times-circle,
.cont-modal2 .fa-times-circle,
.cont-modal3 .fa-times-circle,
.cont-modal5 .fa-times-circle {
  transition: all 0.5s;
  color: white;
  font-size: 30px;
}

.cont-modal5 .fa-times-circle {
  color: black !important;
}

.cont-modal .fa-times-circle:hover,
.cont-modal2 .fa-times-circle:hover,
.cont-modal3 .fa-times-circle:hover,
.cont-modal5 .fa-times-circle:hover {
  font-size: 35px;
  color: black;
}

.modal:target,
.modal2:target,
.modal3:target,
.modal4:target,
.modal5:target {
  opacity: 1;
  top: 1;
}

.modal .btn-close,
.modal2 .btn-close,
.modal3 .btn-close,
.modal4 .btn-close,
.modal5 .btn-close {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999999999;
}

.modal:target .cont-modal,
.modal2:target .cont-modal2,
.modal3:target .cont-modal3,
.modal4:target .cont-modal4,
.modal5:target .cont-modal5 {
  top: 12.6%;
  transition: top 0.35s ease;
}

.modal4 {
  display: none !important;
}

#show-modal4 {
  cursor: default !important;
}

#primerCambio {
  widht: 50% !important;
}

#carri {
  font-size: 25px;
}

#carri:hover i {
  font-size: 30px;
  color: orangered;
}

.inisar {
  padding: 5% 10%;
  width: max-content;
  background-color: #efefef;
  border: 1px solid #efefef;
  transition: all 1s;
}

.inisar:hover {
  border: 1px solid orangered;
  background-color: white;
}

#oculto-modal3 {
  background: white;
  border: none;
  margin-right: 10%;
}
#preparacionMovil {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
#prueba,
#oculto,
#preparacionMovil i,
.oculto {
  display: none;
}

#none {
  padding: 0;
}

@media (max-width: 720px) {
  #preparacionMovil i {
    font-size: 20px;
  }
  #preparacionMovil a {
    font-size: 17px;
    display: flex;
    justify-content: space-between;
  }
  #prueba,
  #oculto,
  #oculto #show-modal4,
  #preparacionMovil i {
    display: flex;
  }
  #oculto,
  #ocultoMovil {
    margin-right: 5%;
  }
  .sub {
    margin: 2% 0;
  }
  .sesionMovil {
    display: flex;
    width: 120px !important;
    align-items: center;
    justify-content: center;
  }
  .sesionMovil span {
    margin-right: 5%;
  }
  .menuPrincipal_Logo,
  .menuPrincipal_Busqueda,
  .menuPrincipal_User {
    width: max-content !important;
    margin-left: 3%;
  }

  .menuPrincipal_Busqueda .icon {
    padding: 15% !important;
  }

  .menuPrincipal {
    padding: 2% !important;
    position: fixed;
    width: 100%;
  }

  .menuPrincipal_Logo h1 {
    font-size: 2rem;
  }

  .menuPrincipal_Busqueda input[type="search"],
  #oculto2 {
    height: 40px;
    display: none;
    border-radius: 0;
  }

  .menuPrincipal_Logo_sub {
    width: 100% !important;
    font-size: 14px;
  }

  .menuPrincipal_Logo_sub .carr {
    display: none;
  }

  .busquedaMovil {
    display: flex !important;
    width: 100% !important;
  }

  .busMovil {
    margin-top: 1%;
    display: flex;
    justify-content: flex-end;
  }

  .busMovil input[type="submit"] {
    width: 20% !important;
    border: none;
    color: white;
    background-color: orangered;
    border: 1px solid black;
    height: 40px;
    right: 12% !important;
  }

  .inisar {
    display: flex;
  }

  .close-modal {
    top: 3.4em !important;
    right: 1.575em !important;
  }

  .cont-modal .fa-times-circle,
  .cont-modal2 .fa-times-circle,
  .cont-modal3 .fa-times-circle {
    transition: none !important;
    color: #747474;
    font-size: 30px;
  }

  .cont-modal .fa-times-circle:hover,
  .cont-modal2 .fa-times-circle:hover,
  .cont-modal3 .fa-times-circle:hover {
    color: #747474;
    font-size: 30px;
  }

  .modal4 {
    display: block !important;
  }

  #show-modal4 {
    display: none;
  }

  .cont-modal4 .fa-times-circle {
    width: 200%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    padding: 16.5% 0;
    color: black;
  }

  .closeModalBusquedaMovil .close-modal {
    top: 9% !important;
    width: 14% !important;
    display: flex;
    justify-content: center;
  }

  .closeModalBusquedaMovil a {
    background-color: orangered;
    padding: 0 3% !important;
    right: -1% !important;
  }
  .closeModalBusquedaMovil i {
    color: white !important;
  }

  .inisar,
  .menuPrincipal_Busqueda .icon {
    color: #747474;
    background-color: white;
    border: none;
    display: flex;
    padding: 0;
  }
  .menuPrincipal_Busqueda .icon {
    font-size: 17px;
  }
  #show-modal2 {
    width: 120px;
    margin-right: 10%;
  }
  .inisar:hover {
    border: none;
  }
  .menuMovil {
    width: 30px;
    display: flex;
    justify-content: center;
  }
  #preparacionMovil {
    display: none;
    background-color: #f3f3f3;
    width: 102%;
    position: absolute;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    margin-top: 26%;
    padding: 5% 10%;
    align-items: flex-start;
    border-bottom: 0.1rem solid orangered;
    transition: 0.5s;
  }

  #preparacionMovil a {
    padding: 3% 0;
  }
  .sesionAdapter {
    margin-top: 37% !important;
  }
}
