/* MI 9 SE */

*{
	box-sizing: border-box;
	margin: 0 auto;
}

@font-face{
	font-family: MI-Regular;
	src:url(../font/Montserrat-Regular.ttf);
}

@font-face{
	font-family: Kodchasan-Regular;
	src:url(../font/Kodchasan-Regular.ttf);
}

@font-face{
	font-family: Quicksand-Regular;
	src:url(../font/Quicksand-Regular.ttf);
}

/* APRTADO PRINCIPAL */

.principalMI{
	max-width: 100%;
	width: 100%;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;	

}

#textM{
	padding: 3%;
}

#textM{
	padding: 3%;
}

.textMI{
	position: absolute;
	margin-left:  45%;
    display: flex;
    flex-direction: column;
 	text-align: center;
 	color: white;
}



.textMI h1{
	transition: 3s;	
	font-family: MI-Regular;	
	margin-top: 1%;
	font-size: 100px;
}

.textMI span{
	transition: 3s;	
    border-radius: 30% 30% 30% 30%;	
	font-family: MI-Regular;
	font-size: 40px;
	border: solid white 1.3px;
	padding: 2%;

}

.textMI span:hover{
    border-radius: 30% 30% 30% 30%;		
	transition: 1s;
	background-color: black;
}

.textMI p{
	transition: 3s;	
	padding-top: 5%;
	font-family: Kodchasan-Regular;
	font-size: 30px;
}

.infoMI p{
	transition: 1s;	
    margin: 0;
    font-size: 14px;
    text-align: justify;
    padding: 5% 10% 0% 20%;
}



 input[type='submit']{/*Estilos del boton de enviar*/
 	font-family: MI-Regular;	
    margin: 0;
    font-size: 30px;
    border: solid white 0.1px;
    background-color: transparent;
    padding: 5% 15%;
    margin-top: 5%;
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.16);
    background-color: transparent;
	transition: 1s;
	color: white;
}




input[type='submit']:hover{

}

.boton:hover input[type='submit']{
	transition: 0.9s;	
	background-color: black;
	box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.16);
	border: solid white 0.5px;

}


/*APARTADO 5G*/
.net5g{
	max-width: 100%;
	color: #dbcaa0;
	position: relative;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;

}

.text5G{
	position: absolute;
	padding: 5%;
}


/* APARTADO PANTALLA*/

.sreenMI{
	max-width: 100%;
	position: relative;
 	color: white;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}



.textScreen, .text5G{
	max-width: 100%;
	position: absolute;
	margin: 0;
	margin-left: 5%;
	width: 55%;
}

.textScreen h1{
 	font-family: Quicksand-Regular;	
	margin-bottom: 5%;
	font-size: 50px;
	color: #b54466;
}

.textScreen p{
    font-family: Kodchasan-Regular; 	
 	color: white;
	font-size: 15px;
	letter-spacing: 2pt; 
	word-spacing: 1pt;	
}

.text2{
	margin-top: 7%;
	display: flex;
	color: red;
	justify-content: space-between;
	align-items: center;
}

.text2 h1{
	font-size: 25px;
}
.text2 p{
	margin-top: 5%;
	font-size: 15px;
}

.text2 h1:hover{
	transition: 1s;
	font-size: 30px;	
}

.text2 p:hover{
	transition: 1.5s;
	font-size: 20px;
}

/*APARTADO TAMAÑO */

.tamañoMI{
	margin-top: 3%;
	margin-bottom: 3%;
	display: flex;
	flex-direction: column;
	text-align: center;
	width: 60%;	
}

.tamañoMI img{
	margin-top: 5%;
}

.tamañoMI h1{
	font-family: Quicksand-Regular;	
	font-size: 50px;
}

.tamañoMI p,.textBateria p{/*FUENTE DE TAMAÑO Y BATERIA*/
	margin-top: 5%;
	font-size: 18px;
	color: #8f8f8f;
	font-family: Kodchasan-Regular;	
	letter-spacing: 2pt; 
	word-spacing: 1pt;		

}

/*APARTADO CAMARAS*/

/*PRINCIPAL*/
.camaraPrincipal{
	max-width: 100%;	
	margin: 0;
	width: 100%;
	display: flex;
	justify-content: flex-end;
	padding: 0% 3% 0% 0%;
	align-items: center;	
	background-color: #f8f8f8;	
}

.textPrincipal{
	padding-top: 10%;
	max-width: 100%;
    position: absolute;
    width: 40%;
    display: flex;
    flex-direction: column;
}

.camaraPrincipal img{
	max-width: 100%;
	margin-left: 0px;
}

/*SECUNDARIA*/
.camaraSecundaria, .camaraFrontal{
	display: flex;
	max-width: 100%;
	justify-content: space-between;
	padding: 3%;
	text-align: center;
	align-items: center;
}

.textSecundaria{padding: 0% 5%;}

/*ANGULAR*/
.camaraAngular{
	max-width: 100%;
	width: 100%;
	position: relative;
	display: flex;
	justify-content: center;	
	align-items: flex-start;	

}

.camaraAngular:hover img{
	transition: 2s;
	width: 100%;
	box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.16);	
}

.textAngular{
	position: absolute;
    padding-top: 4%;
    max-width: 100%;
    width: 55%;

}

.textAngular h1, .textPrincipal h1, .textSecundaria h1, .textFrontal h1{    
	font-family: Quicksand-Regular;
    font-size: 40px;
    line-height: 1.2;
    letter-spacing: -.02em;
}

.textAngular p{	opacity: 0; }

.textAngular p, .textPrincipal p, .textSecundaria p, .textFrontal p{
	font-family: Kodchasan-Regular;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: -.02em;	
    color: grey;
    padding: 0;
    padding-top: 5%;    
}

.camaraAngular:hover p{
	transition: 5s;
	opacity: 1;	
	color: black;
}

/*FRONTAL*/

.camaraFrontal{
	background-color: black;
}

.textFrontal{
	margin-left: 0px;
	width: 35%;
}

.textFrontal h1{color: #5466ac;}

/*APARTADO BATERIA*/

.bateria{	
	background-color: black;
	box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.16);	
	width: 100%;
	text-align: center;
	padding-bottom: 5%;	

}

.textBateria{
	padding-top: 7%; 
	width: 65%;
	text-align: center;
}

.textBateria p{
	width: 65%;
	text-align: justify;
	color: #858585;
}

.textBateria h1{
	color: #6822dc;
	font-family: Quicksand-Regular;	
    font-size: 30px;
    line-height: 1.2;
    letter-spacing: -.02em;
}

.bar{
	display: flex;
	max-width: 100%;
	width: 70%;
	justify-content: space-between;
}

.barText p{
    font-family: Kodchasan-Regular;
	font-size: 17px;
	padding: 5%;
	line-height: 1.2;
    letter-spacing: -.02em;	
	text-align: justify;
	color: #858585;
}

/*APARTADO PROCESADOR*/

.procesador{
	max-width: 100%;
	width: 100%;
	position: relative;
	display: flex;
	justify-content: center;	
}

.textProcesador{
	position: absolute;
	padding-top: 5%;
	text-align: center;
	max-width: 100%;
	width: 70%;
}

.textProcesador h1{
	color: white;
	font-family: Quicksand-Regular;	
    font-size: 45px;
    line-height: 1.2;
    letter-spacing: -.02em;
}

.textProcesador p{
	font-family: Quicksand-Regular;
	font-size: 25px;
	padding: 5%;
	line-height: 1.2;
    letter-spacing: -.02em;	
	text-align: justify;
	color: white;
}

/*APARTADO SENSORES*/

.nfc,.huella, .facial, .camaraMacro{
	display: flex;
	max-width: 100%;
	justify-content: space-between;
	padding: 3%;
	text-align: center;
	align-items: center;
}

.nfc img, .huella img, .facial img{
	box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.16);
}

.textNfc h1, .textHuella h1, .textFacial h1, .gps h1, .text5G h1{/*NFC / HUELLA / FACIAL / GPS  / 5G*/
	font-family: Quicksand-Regular;	
    font-size: 35px;
    line-height: 1.2;
    letter-spacing: -.02em;
}

.textNfc p, .textHuella p,.textFacial p, .gps p, .text5G p{/*NFC / HUELLA / FACIAL / GPS / 5G*/
    font-family: Kodchasan-Regular;
	font-size: 17px;
	padding: 5%;
	line-height: 1.2;
    letter-spacing: -.02em;	

}

.huella{
	background-color: #111111;
}

.textHuella h1{
	color: white;
	padding: 2%;
}
.textHuella p{color: white;}

/*GPS*/

.gps{
	display: flex;
	justify-content: center;
	position: relative;
	max-width: 100%;
	width: 100%;

}

.textGps{
	max-width: 100%;
	position: absolute;
	padding-top: 5%;
	text-align: center;
	width: 60%;
}

/*APARTADO DISEÑO*/

.diseño{
	max-width: 100%;
	position: relative;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}

.textDiseño{position: absolute;}

.textDiseño h1, .botonAi h1{  /*DISEÑO / BOTON AI*/	
	color: white;
	font-family: Quicksand-Regular;	
    font-size: 35px;
    line-height: 1.2;
    letter-spacing: -.02em;
    padding: 3% 55% 0% 3%;  
}

.textDiseño p, .botonAi p{ /*DISEÑO / BOTON AI*/
	color: white;	
	font-family: Kodchasan-Regular;
	font-size: 17px;
	line-height: 1.2;
    letter-spacing: -.02em;
    padding: 3% 55% 0% 3%;    
}

/*APARTADO BOTON AI*/

.botonAi{
	margin: 0;
	width: 100%;
	display: flex;
	max-width: 100%;
	padding: 10% 0%;
	text-align: center;
	align-items: center;	
}

.textAi{
	padding: 3% 5%; 
	width: 50%;
	text-align: center;
}

.textAi h1{
	color: black;
	padding: 0;
}

.textAi p{
	color: #858585;
	padding: 0; 
	padding-top: 5%;	
}

.botonAi img{
	width: 50%;
}

@media (max-width: 1280px){
	.textMI h1{
		font-size: 70px;
	}
	.textMI p{
		font-size: 14px;
	}
	input[type='submit']{
		padding: 2% 15%;
	}
	.textScreen p{
		display: none;
	}
	.textScreen .titleLed{
		font-size: 40px;
	}
	.textBateria p{
		width: 100%;
	}
	.textPrincipal {
		padding-top: 0;
	}
	.textPrincipal h1{
		font-size: 30px;
	}
	.textSecundaria p{
		font-size: 13px;
	}
	.textSecundaria{
		padding: 0 2%;
		text-align: justify;
	}
	.camaraAngular img{
		width: 100%;
	}
	.textAngular h1{
		font-size: 30px;
	}
	.textFrontal{
		width: 55%;
	}
	.ang{
		display: none;
	}
	.procesador{
		height: 580px;
	}
	.textHuella h1, .textFacial h1, .gps h1{
		font-size: 25px;
	}
	.textGps{
		width: 100%;
		padding-top: 1%;
	}
	.textDiseño h1, .botonAi h1{
		font-size: 30px;
	}
	.textDiseño p{
		font-size: 15px;
	}

}
