.footer,.footer-right,.footer-left{
	font-family: Roboto-Regular;
}
.Footer{
	background-color: #252525;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: center;
	font: normal 6px sans-serif;
	padding:10px 20px;
	display: flex;
	flex-wrap: wrap;
	padding: 3%;
}

.footer-cont p{
	color: white;
	font-size: 15px;
	margin-top: 3px;
}

span{
	font-size: 15px;
}

.footer-right i{
	color: #747474;
}

.Footer .footer-right i:hover {
	transition: 0.5s;
	color: #ff6709;
}
.footer-left{
	display: flex;
	text-align: justify;
		justify-content: space-around;
	width: 50%;


}
.fede{
    position: relative;
    right: 15%;
    width: 160%;
}
.footer-cont{
	margin-top: 4%;
	height: min-content;
}

#dd{
	margin-top: 3.99%;
}
.Footer .footer-right{
	margin-top: 2%;
	width: 50%;
}

.Footer .footer-right a{
	border-radius: 2px;
	font-size: 30px;
	color: #747474;
	text-align: center;
	line-height: 35px;

	margin-left: 3px;
}

.Footer .footer-right a:hover {
	transition: 0.5s;
	color: #ff6709;
}

.Footer .footer-right a i{
	width:50px;
	height: 50px;
}
.Footer .footer-right p {
	color: #747474;
	margin-top: 10px;
	font-weight: bold;
	font-size: 14px;
	margin: 0;
	padding: 1% 0 1% 0;
}

#copy{
	font-size: 12px;
}



@media (max-width: 1024px) {
	.Footer{
		background-color: white;
		margin-top: 5%;
		flex-direction: column;
	}

	.Footer p{
		color: #747474;

	}
	.footer-left,
	.footer-right{
		text-align: center;
	}
	.Footer .footer-right{
		padding-right: 0%;
		margin: 10% auto;
	}
	.footer-left {

		max-width: 100%;
		width: 100%;
		line-height: 1.8;

	}

	.footer-left p{
		font-size: 35px;
	}

	.Footer .footer-left .fede{
		width: 100%;
	}
	.Footer .footer-right p{
		margin-top: 1%;
		font-size: 20px;
	}

	.footer-cont {
    width: 50%;
    margin-top: 5%;
    height: min-content;
	}

	.Footer .footer-right a {
	background-color: initial;
    padding: 3%;
    border-radius: 10px;
    font-size: 30px;
    color: #747474;
    line-height: 100px;
    margin-left: 0 auto;
	}
	.Footer .footer-right a:hover {
	transition: 0.5s;
	color: inherit;
	color: white;
	}


	.fede{
	position: inherit;
	margin: 0;
	}
	#dd{
		margin-top: 5%;

	}

	.ayuda {
        display: inherit;
    }
    .footer-right{
    	color: black;
    }
    .footer-right span{
    	color: black;
    }
    .Footer .footer-right a {
    	color: #747474;
    }
    .Footer .footer-right a:hover {
	transition: 0.5s;
	color: black;
	}
	.Footer .footer-right i:hover {
	transition: 0.5s;
	color: black;
}

@media (max-width: 630px) {
	#dd {
    margin-top: -7.3%;
}
}