<div class="alertEstado" id="estado">
  <div class="iconoEstado"><i class="fas fa-exclamation-triangle"></i></div>
  <div class="textEstado">
    <p>
      Se ha enviado un correo a: codigo php xdxd Por favor, comprueba tu correo
      electronico y haz click en el vinculo del mensaje para completa la
      verificacion de tu cuenta.
    </p>
    <h3>
      Hasta que su cuenta no sea verificada no podra realizar una compra y si no
      es verificada dentro de los 3 meses (tiempo a decidir) su cuenta sera
      eliminada
    </h3>
  </div>
  <div class="closeEstado">
    <a href="" id="btEstado"><i class="fas fa-times-circle"></i></a>
  </div>
</div>
