<div class="contenedorIndex">
  <div class="apartadoMI">
    <div class="contPrincipal">
      <div class="imgMI">
        <img src="imagenes/redmiFamily.png" />
      </div>
      <div class="textMI">
        <h2>REDMI <span>family</span></h2>
        <h1 class="text">La comodidad que necesitas</h1>
        <p class="">Una gran familia a un bajo precio</p>
        <div class="botones">
          <a href="ecomerce.php?familia=redmi"
            ><div class="module-border-wrap">
              <div class="module">Conocer la familia</div>
            </div></a
          >
          <a href="ecomerce.php"
            ><div class="module-border-wrap">
              <div class="module" id="masProduc">Mas Productos</div>
            </div></a
          >
        </div>
      </div>
    </div>
    <div class="contEspec">
      <div class="cajas">
        <div class="iconEspec">
          <i class="fas fa-camera-retro"></i>
        </div>
        <div class="textEspec">
          <h3>Camaras</h3>
          <p>Poder capturar todos los momentos con la mejor calidad</p>
        </div>
      </div>
      <div class="cajas">
        <div class="iconEspec"><i class="fas fa-battery-full"></i></div>
        <div class="textEspec">
          <h3>Bateria</h3>
          <p>Suficiente para llegar al fin del dia sin preocuparse</p>
        </div>
      </div>
      <div class="cajas">
        <div class="iconEspec"><i class="fas fa-money-check-alt"></i></div>
        <div class="textEspec">
          <h3>Precio</h3>
          <p>Lo mejor a un muy bajo costo</p>
        </div>
      </div>
    </div>
  </div>
  <div class="apartadoMI" id="mi">
    <div class="contPrincipal">
      <div class="imgMI">
        <img src="imagenes/miFamily.png" />
      </div>
      <div class="textMI">
        <h2>MI <span>family</span></h2>
        <h1 class="text">Ir más allá de la velocidad</h1>
        <p class="ecomerce.php">
          Caracteristicas de gamas alta por un precio de gama media
        </p>
        <div class="botones">
          <a href="ecomerce.php?familia=mi"
            ><div class="module-border-wrap">
              <div class="module">Conocer la familia</div>
            </div></a
          >
          <a href=""
            ><div class="module-border-wrap">
              <div class="module" id="masProduc">Mas Productos</div>
            </div></a
          >
        </div>
      </div>
    </div>
    <div class="contEspec">
      <div class="cajas">
        <div class="iconEspec">
          <i class="fas fa-fingerprint"></i>
        </div>
        <div class="textEspec">
          <h3>Tegnologia</h3>
          <p>
            Lo ultimo en tegnologias para una mejor seguridad y comodidad.
          </p>
        </div>
      </div>
      <div class="cajas">
        <div class="iconEspec"><i class="fas fa-mobile"></i></div>
        <div class="textEspec">
          <h3>Pantalla</h3>
          <p>
            Pantallas de gran tamaño y calidad para disfrutar de contenido
            multimedia.
          </p>
        </div>
      </div>
      <div class="cajas">
        <div class="iconEspec"><i class="fab fa-android"></i></div>
        <div class="textEspec">
          <h3>Gama MI A</h3>
          <p>
            Equipada con AndroidONE. Expericencia de usuario limpia con 2 años
            asegurados de actualizaciones de sistema y 3 años de parche de
            seguridad.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="apartadoMI" id="poco">
    <div class="contPrincipal">
      <div class="imgMI">
        <img src="imagenes/pocoFamily.png" />
      </div>
      <div class="textMI">
        <h2>POCOPHONE F1</h2>
        <h1 class="text">La potencia que estabas buscando</h1>
        <p class="">
          El nuevo POCO F1 de Xiaomi socava a sus rivales con un precio bajo y
          un procesador de alta gama
        </p>
        <div class="botones">
          <a href="ecomerce.php?familia=poco"
            ><div class="module-border-wrap">
              <div class="module">Conocer la familia</div>
            </div></a
          >
          <a href="ecomerce.php"
            ><div class="module-border-wrap">
              <div class="module" id="masProduc">Mas Productos</div>
            </div></a
          >
        </div>
      </div>
    </div>
    <div class="contEspec">
      <div class="cajas">
        <div class="iconEspec">
          <i class="fas fa-microchip"></i>
        </div>
        <div class="textEspec">
          <h3>Procesador</h3>
          <p>Un rendimiento simplemente insuperable.</p>
        </div>
      </div>
      <div class="cajas">
        <div class="iconEspec"><i class="fas fa-gamepad"></i></div>
        <div class="textEspec">
          <h3>Rendimiento</h3>
          <p>
            ¡Este smartphone es más rápido que los más rápidos! Diseñado para
            jugadores exigentes.
          </p>
        </div>
      </div>
      <div class="cajas">
        <div class="iconEspec"><i class="fas fa-money-check-alt"></i></div>
        <div class="textEspec">
          <h3>Precio</h3>
          <p>Potencia de un celular gama alta a un precio inimaginable.</p>
        </div>
      </div>
    </div>
  </div>
</div>
