<div class="contFooter">
  <div class="leftFooter">
    <div class="columna" id="fam">
      <h1>Familias</h1>
      <hr class="hr-footer" />
      <a href="includes/ecomerce.php">MI</a>
      <a href="includes/ecomerce.php">Redmi</a>
      <a href="includes/ecomerce.php">POCO</a>
    </div>
    <div class="columna">
      <h1>Direccion</h1>
      <hr class="hr-footer" />
      <p>Lavalle 1588 4B <br />Capital Federal</p>
      <p>Lunes a Viernes <br />de 13hs a 17hs</p>
    </div>
  </div>

  <div class="rightFooter">
    <p>Siguenos En Nuestras Redes Sociales</p>
    <br />
    <a
      href="https://www.facebook.com/NVIDIAGeForce.LA/?brand_redir=113296972087800"
      ><i class="fab fa-facebook"></i
    ></a>
    <a href="https://twitter.com/NVIDIAGeForceES"
      ><i class="fab fa-twitter"></i
    ></a>
    <a href="https://www.instagram.com/NVIDIAGeForceES/"
      ><i class="fab fa-instagram"></i
    ></a>
    <a href="https://www.youtube.com/channel/UCBJ99Z-H89jDTwx2pfHjT6A<spamn>"
      ><i class="fab fa-youtube"></i
    ></a>
    <p id="copy">
      Copyright © 2019 Desing by Caceres Jair , Maroñas Abel , Spagnuolo
      Federico
    </p>
  </div>
</div>
