<div class="menuPrincipal_Logo">
  <a href=""><img src="imagenes/mihome.png"/></a>
  <h1>Xiaomi</h1>
  <div class="menuPrincipal_Logo_sub">
    <div class="sub">
      <ul>
        <li>
          <a href="includes/ecomerce.php">Productos</a>
          <ul>
            <li><a href="">MI</a></li>
            <li><a href="">Redmi</a></li>
            <li><a href="">Poco</a></li>
            <li><a href="">Todos</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <a href="">Contactenos</a>
  </div>
</div>
<div class="menuPrincipal_Busqueda">
  <form action="" method="get">
    <input type="search" placeholder="Seach..." />
    <span class="icon"><i class="fa fa-search"></i></span>
  </form>
</div>
<div class="menuPrincipal_User">
  <div class="menuPrincipal_Logo_sub">
    <a href=""><i class="fas fa-shopping-cart"></i></a>
  </div>
  <hr />
  <div class="menuPrincipal_Logo_sub">
    <a href="includes/registrase.php">Registrarse</a>
    <hr />
    <a
      href="includes/iniciarSecion.php"
      style="text-align: center;
					width: 100%;"
      >Iniciar sesión</a
    >
    <hr />
  </div>
</div>
